.color {

      width: 12px;
      height: 12px;
      border: 1px solid $light-gray;
      border-radius: 50%;

      &--red {
            background-color: red;
      }

      &--check {
            width: 18px;
            height: 18px;

      }

      &--white {
            background-color: white;
      }

      &--black {
            background-color: black;
      }
}