.color {
      position: relative; // большой круг, отноисльно этого элемента будем бьшой круг делать
      width: 18px;
      height: 18px;
      display: block;
      border-radius: 50%;


      &--check {
            border: 0.4px solid #929292;
      }

      &:after {
            // псевдоэлемент-маленький круг(котрый внутри большого) 
            content: ''; // attr() будем использовать дата-атрибут
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); // свойства top left transform центруют круг
            width: 12px;
            height: 12px;
            border-radius: 50%;
      }


      //  для span(обводка у  checked радиокнопки) котрый сразу идет после input: :
      &__input:checked+&__check {

            position: absolute; // относительно  .color
            inset: 0; // top:0; left:0; right:0;  bottom:0
            display: block;
            border: 0.4px solid #929292;
            border-radius: 50%;
      }



      // эти стили сделаем через JS:
      // &--red:after {
      //       background-color: red;
      // }

      // &--white:after {
      //       background-color: white;
      // }

      // &--black:after {
      //       background-color: black;
      // }


}