/* подключение шрифтов: */
@font-face {
      font-family: 'Inter';
      font-weight: 400;
      font-style: normal;
      src: local('Inter'),
            /* если есть локальные шрифты */
            url('../fonts/inter-v12-latin-regular.woff2') format("woff2"),
            /* woff2 меньше весит чем woff */
            url('../fonts/inter-v12-latin-regular.woff2') format("woff");
      font-display: swap;
}


@font-face {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      src: local('Inter'),
            url('../fonts/inter-v12-latin-600.woff2') format('woff2'),
            url('../fonts/inter-v12-latin-600.woff') format('woff');
      font-display: swap;
}


@font-face {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      src: local('Inter'),
            url('../fonts/inter-v12-latin-700.woff2') format('woff2'),
            url('../fonts/inter-v12-latin-700.woff') format('woff');
      font-display: swap;
}