.header {
      padding: 24px 0 36px;

      @include tablet {
            padding: 16px 0;
      }

      @include mobile {
            padding: 16px 0;
      }


      &__container {
            // грид контейнер
            display: grid;
            grid-template-columns: repeat(1fr, 3);
            grid-template-rows: 65px;
            align-items: center;


            @include tablet {
                  grid-template-rows: 41px;
            }

            @include mobile {
                  grid-template-columns: repeat(1fr, 2);
                  grid-template-rows: 33px;
            }
      }


      &__phone {
            // грид элемент
            width: 115px;
            grid-column: 1/2;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            text-transform: uppercase;

            @include tablet {
                  font-size: 12px;
                  line-height: 15px;
            }

            @include mobile {
                  display: none;
            }
      }


      &__logo {
            // грид элемент
            grid-column: 2/3;
            justify-self: center; // выравнивает по гризонтали

            @include tablet {
                  width: 154px;
                  height: 41px;
            }

            @include mobile {
                  grid-column: 1/2;
                  justify-self: start;
                  width: 124px;
                  height: 33px;
            }
      }


      &__navigation {
            // грид элемент
            grid-column: 4/5;
            justify-self: end; // выравнивает по гризонтали

            @include tablet {}

            @include mobile {}
      }


      &__nav-list {
            display: flex;
            align-items: center;
            gap: 24px;

            @include tablet {
                  grid-column: 3/4;
            }

            @include mobile {
                  gap: 16px;
            }
      }


      &__nav-item {

            @include tablet {}

            @include mobile {}
      }


      &__link {
            transition: color 0.3s ease-in-out; // цвет пир наведении будет плавно меняться

            &:hover {
                  color: $gray;
            }

            @include tablet {}

            @include mobile {}
      }

}