.product {
      height: 100%;
      display: flex;
      flex-direction: column;

      font-size: 14px;
      line-height: 17px;

      @include laptop {}

      @include tablet {
            font-size: 12px;
            line-height: 15px;
      }

      @include mobile {}


      &__link {
            flex-grow: 1;
            transition: color 0.2s ease-in-out; // цвет меяется плавно

            &:hover {
                  color: $gray;
            }

            @include laptop {}

            @include tablet {}

            @include mobile {}
      }


      &__image {
            width: 100%;
            height: 370px;
            margin-bottom: 16px;
            object-fit: cover; // чтобы картинка не сжималась

            @include laptop {}

            @include tablet {
                  width: 140px;
                  height: 185px;
            }

            @include mobile {}
      }


      &__title {
            margin-bottom: 16px;

            @include laptop {}

            @include tablet {
                  margin-bottom: 10px;
            }

            @include mobile {}
      }

      &__row {
            margin-bottom: 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include tablet {
                  margin-bottom: 7px;
            }

            @include mobile {}

      }


      &__price {
            font-size: 14px;
            line-height: 17px;
      }



      &__color-list {
            display: flex;
            align-items: center;
            gap: 3px;
      }

      &__color-item {}
}