// базовые стили
html {
      position: relative;
      box-sizing: border-box;
      /*система рассчетов размеров элемента*/
}

*,
*::before,
*::after {
      box-sizing: inherit;
}

body {
      min-width: 320px; // для мобилки
      min-height: 100vh; //  высота вьюпорта
      font-family: Inter, sans-serif;
      background-color: $second-color;
      color: $main-color;
      font-weight: 400;
}


img,
svg {
      max-width: 100%; // чтобы не выпадали за рамки блоков в которых они находятся
      max-height: 100%;
      height: auto; // чтобы картинка не искажалась при изменении размеров
      display: block; // чтобы убрать оступ снизу, котрый ставится по умолчанию
}


button {
      display: block;
      padding: 0;
      cursor: pointer;
      background-color: transparent;
      border: none;
      color: inherit;
}

a {
      text-decoration: none;
      color: inherit;
}

ul {
      list-style: none;
      padding: 0;
      margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
      margin: 0;
}

iframe {
      border: none;
}

/*
    Доступно скрываю элементы: элемент будет виден роботами читалками
    */
.visually-hidden {
      position: fixed;
      transform: scale(0);
}

.main {
      margin-bottom: 120px;

      @include laptop {}

      @include tablet {
            margin-bottom: 80px;
      }


      @include mobile {
            margin-bottom: 60px;
      }

}

/*
    Пример контейнера
    
    Если контейнер 1180px по макету,
    то для max-width прибавляем паддинги 30px*2, 
    в итоге max-width:1240px
    Чтобы контент не прижимался к краям экрана
    */

.container {
      /* 1180px(контенер)+130(padding-left) + 130(padding-right)  = 1440px: */
      // max-width: 1440px;

      --max-width: 1180px; // ширина контейнера
      --padding: 30px;
      max-width: calc(var(--max-width) + var(--padding) *2);
      padding: 0 var(--padding);
      margin: 0 auto;

      // вмеcто использования медиа запросов вызываем миксин:
      // @media (max-width: 1024px) {
      //       --max-width: 880px;
      // }

      @include laptop {
            --max-width: 880px;

      }

      @include tablet {
            --max-width: 620px;

      }


      @include mobile {
            --padding: 15px;

      }

}